@import '@/styles/variables/index.scss';
@import '@/styles/mixins/index.scss';

.layout {
    width: 100vw;
    min-height: 100vh;

    &-header {
        background-color: $primary-color;
    }

    &-sider.ant-layout-sider {
        background: $secondary-color;
    }

    &-content {
        background: $bg-gray;
        padding: 20px;
    }

    .graph {
        width: 500px;
        height: 200px;

        .title {
            font-size: 18px;
            font-weight: bold;
            margin: 20px 0;
        }
    }
}