@import '@/styles/variables/index.scss';
@import '@/styles/mixins/index.scss';

.order-detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .detail {
        width: 900px;
    }
}