$pd-font-size-xs: 0.125rem;
$pd-font-size-sm: 0.25rem;
$pd-font-size-md: 0.5rem;
$pd-font-size-lg: 0.75rem;
$pd-font-size-xl: 1rem;
$pd-font-size-2xl: 2rem;
$pd-font-size-2xl: 2rem;
$pd-font-size-3xl: 3rem;
$pd-font-size-4xl: 4rem;
