$pd-spacing-xs: 0.125rem;
$pd-spacing-sm: 0.25rem;
$pd-spacing-md: 0.5rem;
$pd-spacing-lg: 0.75rem;
$pd-spacing-xl: 1rem;
$pd-spacing-2xl: 2rem;
$pd-spacing-3xl: 3rem;
$pd-spacing-4xl: 4rem;
$pd-spacing-5xl: 5rem;
$pd-spacing-6xl: 6rem;
