@import '@/styles/variables/index.scss';
@import '@/styles/mixins/index.scss';

ul.sidebar.ant-menu.ant-menu-root {
    background: none;
    color: white;

    li.ant-menu-item:hover,
    li.ant-menu-item:active,
    li.ant-menu-item.ant-menu-item-selected {
        background-color: $primary-color;
        color: white;
    }

    li.ant-menu-item:focus-visible {
        outline: none;
    }

    li.ant-menu-submenu {
        &.ant-menu-submenu-selected {
            .ant-menu-submenu-title {
                color: white;
            }
        }

        ul.ant-menu.ant-menu-sub {
            background: none;

            li.ant-menu-item-group {
                .ant-menu-item-group-title {
                    color: white;
                    font-weight: bold;
                }
            }
        }

        &:hover {
            .ant-menu-submenu-title {
                background-color: $primary-color;
                color: white;
            }
        }
    }

}